.App {
  text-align: center;
}

header {
  background-color: red;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 29px;
  color: whitesmoke;
}

nav {
  display: flex;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
